.formAndContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageHeader {
    margin-top: 5rem;
    color: rgb(73, 141, 143);
}

.pageSubHeader {
    margin: 1rem 0rem 2rem;
    color: rgb(212, 148, 30);
    align-self: center;
}

.videoTranscriptionForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 5rem;
}

.videoUrlInput {
    border: 0.1rem solid grey;
    background-color: linen;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 50vw;
    margin-right: 0.5rem;
}

.transcribeButton {
    border: 0.1rem solid cadetblue;
    border-radius: 0.5rem;
    background-color: cadetblue;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.transcribeButton:disabled {
    background-color: dimgrey;
    color: linen;
    cursor: wait;
}

.loaderSpinner {
    position:absolute;
    top: 50%;
    left: 50%;
}

.dottedHr {
    border: none;
    border-top: 0.85rem;
    border-top-style: dotted;
    border-top-color: rgb(213, 213, 213);
    width: 8.5rem;
    margin: 0rem auto 1rem;
    align-self: center;
}

.videoDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 4rem;
}

.videoMetadataKey {
    font-family: var(--font-montserrat-bold);
    font-size: 1rem;
    font-weight: 700;
}

.normalText {
    font-family: var(--font-montserrat-normal);
    font-size: 1rem;
    font-weight: 400;
}